.idea/
*.iws
*.iml
*.ipr

*.out
*.o
*.lo
*.la
*.al
*.obj
*.gch
*.so
*.dylib
*.dll
*.a
*.lib

*.gch
*.pch

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

Testing/
CTestTestfile.cmake
CTestCostData.txt

*.log
*.stackdump
*.tmp
*.temp

cmake-build-*/

.DS_Store
Thumbs.db

*.bak
*.swp
*.swo
*.old

*.gcda
*.gcno
*.gcov
